* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background: url(../image/background.jpg);
    height: 600px;
    /* background: #FAEDE8; */
}


.container {
    width: 930px;
    margin: 0 auto;
   
}

nav {
    position: relative;
    /* display: inline-block; */
    width: 717px;
    height: 50px;
    float: right;

}

.menu {
    /* padding: 15px;; */
    display: inline-block;
    background: #F2DBCD;
    border-radius: 3px;
    

}

.menu li {
    float: left;
    display: block;
    /* padding-left: 38px; */
    /* padding-right: 38px; */
    padding-top: 16px;
    padding-bottom: 16px;
    

}

 .menu a { 
    color: #140702;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 38px;
    padding-right: 38px;
    
    
}

.title {
    text-align: center;
    margin-top: 90px;
    
}

.logo {
    width: 135px;
    display: inline-block;
   
   
   
    
}



.title span {
    display: block;
    text-transform: uppercase;
}

.text-1 {
    color: #140702;
    border-radius: 50px;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 10px;
    background: #F2DBCD;
    position: relative;
    animation: text 1.3s 1;

}

.text-3 {
    color: #140702;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    background: #F2DBCD;
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    
    color: #140702;
}

.title2 p {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 50px;
    color: #140702;
    font-size: 17px;
    font-weight: bold;
}

img{
    width:300px;
}

.range {
    height: 600px;
    width: 930px;
}




@keyframes text {
    0% {
        color: black;
        letter-spacing: 15px;
        margin-bottom: -60px;
    }
    30% {
        letter-spacing: 20px;
        margin-bottom: -60px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -60px;
    }
}




.view {
    width: 300px;
    height: 200px;
    margin: 1px;
    float: left;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
    
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #F2DBCD;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(20,7,2,0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #F2DBCD;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #140702;
    color: #F2DBCD;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}







.view-third img {   
    transition: all 0.2s ease-in; 
    width: 300px;
}
.view-third .mask { 
    background-color: rgba(8,3,1,0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.view-third p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.view-third a.info { 
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
} 


.view-third:hover .mask { 
    opacity:1; 
    transition-delay: 0s;                            
    transform: translate(0px, 0px);
}
.view-third:hover h2 { 
    transform: translateY(0px); 
    transition-delay: 0.5s; 
}
.view-third:hover p { 
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.view-third:hover a.info { 
    transform: translateY(0px);
    transition-delay: 0.3s;
}







.view-second img {   
    transition: all 0.2s ease-in; 
    width: 300px;
}
.view-second .mask { 
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
}
.view-second h2{
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.view-second p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
} 


.view-second:hover .mask { 
    opacity:1; 
    transition-delay: 0s;                            
    transform: translate(0px, 0px);
}
.view-second:hover h2 { 
    transform: translateY(0px); 
    transition-delay: 0.5s; 
}
.view-second:hover p { 
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.view-second:hover a.info { 
    transform: translateY(0px);
    transition-delay: 0.3s;
}






.view-first img {   
    transition: all 0.2s ease-in; 
    width: 300px;
}
.view-first .mask { 
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
}
.view-first h2{
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.view-first a.info { 
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
} 


.view-first:hover .mask { 
    opacity:1; 
    transition-delay: 0s;                            
    transform: translate(0px, 0px);
}
.view-first:hover h2 { 
    transform: translateY(0px); 
    transition-delay: 0.5s; 
}
.view-first:hover p { 
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.view-first:hover a.info { 
    transform: translateY(0px);
    transition-delay: 0.3s;
}

